@font-face {
  font-family: "OpenSansB";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: regular;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: OpenSans;
  box-sizing: border-box;
}
.page{
  max-width: 100%;
}
.header {
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.header::before {
 content:'';
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
background-color:rgba(0, 0, 0, .6);
 z-index: -1;
}
.container-logo {
  width: 179px;
}
.container-header {
  max-width: 1200px;
   margin-left: auto;
  margin-right: auto;
  padding-top: 29px;
}
.header-menu {
  display: flex;
 list-style-type: none;
 
}
.menu-link {
 text-decoration: none;
 color: white;
 font-size: 13px;
 text-transform: uppercase;
}
.menu-link:hover {
text-decoration: underline;  
}
.menu-item {
 margin-left: 37px;
}
.header-nav {
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.header-text {
  font-family:OpenSansB;
  color:#ffffff;
  font-size: 45px;
  text-transform: uppercase;
  padding-bottom: 145px;
  padding-top: 125px;
  width: 670px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1.6;
}
.trends {
  margin-top:63px;
  width:100%;
  min-height:379px;
}
.trend-title {
  font-family: OpenSansB;
  font-size:20px;
  text-align:center;
  text-transform: uppercase;
}
.trend-title::after {
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 67px;
  height: 3px;
  background: #e1d9bd;
}
.trend-items{
  display:flex;
  margin-top:28px;
}
.trend-unit{
  display:flex;
  min-height: 319px;
  margin: 0px 4px 0px 4px;
  background:#606260 ;
  position: relative;
  z-index: 0;
  align-items: end;
  Width:25%;
}
.trend-unit:nth-child(1) {
  margin-left:0px;
}
.trend-unit:nth-last-child(1){
  margin-right:0px;
}
.trend-unit-1{
  background-image:url(../images/trend1.jpg);
  width: 25%;
  display:flex;
  justify-content:center;
  align-items:end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.unit-filling {
  display:flex;
  border: 3px solid #7c6f41;
  width:100%;
  height:150px;
  justify-content:center;
  flex-direction: column;
  margin-bottom: 17px;
  margin: 0px 20px 15px 20px;
}
.unit-filling-second{
height: 163px;
}
.unit-category-2{
  margin-left:20px;
}
.unit-category{
  font-family: OpenSansB;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color:#b59f5b;
}
.unit-title{
  display: flex;
  font-family:OpenSansB;
  color:white;
  font-size:20px;
  text-transform: uppercase;
  margin-top:10px;
  padding-left: 30px;
}
.unit-title:hover {
  color:#b59f5b;
  cursor: pointer;
}
.unit-links{
display:flex;
padding-left: 30px;
list-style-type: none;
}
.unit-links-second{
padding-right:125px;
}
.unit-links-third{
  margin-right:125px;
}
.unit-links-fourth{
  margin-right:150px;
}
.unit-category:hover{
  text-decoration: underline;
  color:#b59f5b
}
.trend-unit::after {
  content:'';
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
background-color:rgba(0, 0, 0, .6);
 z-index: -1; 
}
.trend-unit-2{
  background-image:url(../images/trend2.jpg);
  width:25%;
  display: flex;
  justify-content: center;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.trend-unit-3{
  background-image:url(../images/trend3.jpg);
  width:25%;
  display: flex;
  justify-content: center;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.trend-unit-4{
  background-image:url(../images/trend4.jpg);
  width:25%;
  display: flex;
  justify-content: center;
  align-items: end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-page {
 display: flex;
 max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
   margin-top: 63px;
   padding: 0 15px 0 15px;
}
.news{
  display: flex;
}
.new-text-third{
 width: 200px;
  line-height: 1.2;
}
.news-img{
  display: block;
  width:381px;
}
.news-tag{
  list-style:none;
  display: flex;
  padding: 0;
  margin-bottom: 15px;
  margin-top:0;
}
.news-tag-item{
  margin-right: 20px;
  text-transform: uppercase;
}
.news-tag-item-link {
  text-decoration: none;
  color:#b59f5b;
  font-weight:bold;
  font-family: OpenSansB;
}
.news-tag-item-link:hover {
text-decoration: underline;
}
.news-name-link{
text-decoration: none;
 color:black;
 text-transform: uppercase;
 font-size: 20px;
 line-height: 1.2;
 font-weight: bold;
 font-family: OpenSansB;
}
.news-name-link:hover {
  color: #b59f5b; 
}
.news-name {
  margin-bottom: 60px;
}
.date{
  color: #888888;
   font-size: 12px;
}
.aurthor {
 color: black;
  font-size: 12px;
  font-family:OpenSansB;
  margin-left: 10px;
}
.info{
  margin-top:20px;
    
 }
.article-text {
  margin-top: 40px;  
}
.p-text{
  font-family: OpenSans;
  line-height: 1.5;
  font-weight: 100;
  font-size: 15px;
}
.news-second {
  margin-top: 60px;
}
.news:not(:first-child) {
  margin-top: 60px;
}
 .aside {
 display: flex;
 max-width:271px;
}

.sidebar {
position: relative;
display: flex;
box-sizing: border-box;
flex-direction: column;
}

.latest-post{
display: flex;
flex-direction: column;
}

.latest-post-top {
 margin-top: 0px;
 font-family: OpenSansB;
 font-size: 14px;
  text-align: center;
 text-transform: uppercase;
}

.latest-post-top:after {
 content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
}

.new{
 display: flex;
 margin-top: 20px;
  min-height: 70px;
}
.img-new{
  width:70px;
}

.new-description{
  margin-left: 20px;
}

.new-link {
  line-height: 1.2;
  text-decoration: none;
  font-family: OpenSansB;
  font-size: 14px;
  text-transform: uppercase;
  color: black;
}
.new-text {
  margin-top: 3px;
}
.new-link:hover {
 color:#b59f5b; 
}
.search-field {
  display: flex;
  margin-top: 60px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.search-button{
  display: flex;
}
.found-field {
width: 100%;
height: 47px;
background:#f4f7f6;
font-size: 13px;
padding-left: 10px;
border-style: none;
outline: none;
box-sizing: border-box;
}

.found-field:focus {
 border: 0.5px solid #b59f5b;
}
.button-found {
  width: 50px;
  height:47px;
  border-style: none;
  background: #b59f5b;
  cursor: pointer;
}
.button-found:hover {
  background: black;
  cursor: pointer;
  vertical-align: middle;
}
.button-icon {
width:20px;
}

.mailing{
 display: flex;
 flex-direction: column;
text-align: center;
 margin-top: 50px;
}
.mailing-top {
 text-transform: uppercase;
 font-weight: bold;
 font-family: OpenSansB;
}
.mailing-top:after {
 content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
}
.mailing-objects {
  margin-top:30px;
}
.mailing-form {
 display: flex;
 flex-direction: column;
 margin-top: 20px;
width: 100%;
 height: 49px;
 border-style: none;
 background:#f4f7f6;
 font-size: 13px;
 box-sizing: border-box;
  margin: auto;
  padding-left: 20px;
}
.mailing-form:focus {
 border: 1px solid #b59f5b;
}

.sub {
 margin-top: 17px;
 width: 100%;
 height: 50px;
border-style: none;
font-family: OpenSansB;
font-size: 14px;
text-transform: uppercase;
background: #b59f5b;
color:#ffffff;
cursor: pointer;
}
.sub:hover {
 background: black;
}

.tag {
 display: flex;
 flex-direction: column;
}
.tag-container {
  margin-top: 50px;
}

.tag-top {
  text-align: center;
  text-transform: uppercase;
  font-family:OpenSansB;
}
.tag-top:after {
 content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
}
.tag-list-ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
}
.tag-list-item {
  margin-right: 3px;
  margin-bottom: 3px;
}
.tag-list{
  display: flex;
  margin-top: 30px;
}
.tag-link {
  color: black;
  text-decoration: none;
  font-family: OpenSansB;
  text-transform: uppercase;
  padding: 5px 11px; 
  border: 3px solid #eeeeee;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 9px;
}
.tag-link:hover {
  border: 3px solid #b59f5b;
}

.theme-container {
 margin-top: 50px;
}
.theme-top {
 font-family: OpenSansB;
 font-size: 14px;
 text-transform: uppercase;
 text-align: center;
}

.theme-top:after {
 content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 66px;
    height: 3px;
    background: #e1d9bd;
}
.theme-item-list {
  list-style-type: none;
  padding-left: 0px;
}

.theme-item{
 margin-top: 14px; 
}

.theme-item-link{
 font-family: OpenSansB;
 font-size: 14px;
text-decoration: none;
 color: black;
}

.theme-item:after {
 content: "";
    display: block;
    position: relative;
    margin-top: 10px;
    width: 100%;
    height: 1px;
    background: #eeeeee;
}
.theme-item-link:hover {
  color: #b59f5b; 
}
.theme-count {
 display: inline-block;
 vertical-align: top;
 font-family: OpenSansB;
 color: #b59f5b;
  font-size: 11px;
  margin-top: -5px;
}
.theme-count4{
  margin-left: 5px;
}
.theme-count62 {
   margin-left: 5px;
}
.products{
  margin-top:60px;
}
.products-title{
  text-align: center;
  font-family: OpenSansB;
  font-size:20px;
  text-transform: uppercase;
}
.products-title::after{
  content: "";
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 67px;
  height: 3px;
  background: #e1d9bd; 
}
.products-items{
  display:flex;
  width:100%;
  min-height:500px;
  margin-top:25px;
  max-width:1200px;
  margin-right:auto;
  margin-left:auto;
  justify-content: space-between;
  box-sizing: border-box;
  gap:20px;
  padding: 0 15px 0 15px;
}
.product-unit{
  width:calc(50% - 15px);
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.product-img-pillow{
  width:100% ;
  background-color:#eff6f1;
  margin-bottom: -50px;
}
.product-img-banny{
  width:100%;
  background-color: #eff6f1;
  margin-bottom: -50px;
}
.product-img-frame{
  width:100%;
  background-color: #eff6f1;
  margin-bottom: -50px;
}
.product-picture {
display:block;
width:80%;
margin: 0 auto;
}
.product-info{
  margin-top:23px;
  border:3px solid #d3c59d;
  padding:35px 15px 25px 22px;
  min-height:247px;
  position: relative;
}
.product-descript {
  display: flex;
  flex-direction: column;
}
.product-name{
  font-family: OpenSansB;
  font-size: 20px;
  text-transform: uppercase;
}
.product-text{
font-family:OpenSans;
font-size:15px;
flex: 1 1 auto;
}
.product-text:hover{
  font-weight:bold;
  cursor: pointer;
}
.product-text-link{
  text-decoration: none;
  color:#b59f5b;
}
.product-text-link:hover{
  text-decoration: underline;
  color: #b59f5b;
}
.product-redirect{
  margin-top:25px;
  display:flex;
  justify-content:space-between;
}
.price{
  line-height: 1;
}
.price-bunny{
margin-top:11px;
}
.product-price{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  font-family:OpenSansB;
  font-size: 20px;
  margin-top:4px;
}
.product-price-through{
  font-size:14px;
  text-decoration: line-through;
}
.product-price-bunny{
font-family: OpenSansB;
font-size:20px;
}
.button-shop{
font-size:14px;
width:140px;
height:50px;
font-family: OpenSansB;
color:white;
background-color: #b59f5b;
border:none;
text-transform: uppercase;
}
.button-shop:hover{
 background-color: black;
 cursor: pointer;
}
.footer {
  max-width: 1200px;
  display: flex; 
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  margin-top: 64px;
  padding:0 15px 0 15px;
}
.footer-wrapper {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #f4f7f6;
 width: 100%;
 min-height:81px;
   margin-bottom: 73px;
  list-style-type: none;
}
.footer-img {
  display: flex;
}
.footer-link{
 display: block;
  width: 20px;
  height:20px;
}
.footer-img:not(:first-child) {
  margin-left: 20px;
}

.copyright {
 text-align: center;
 margin-bottom: 0px;
 padding: 0 15px 0 15px;
}
.copyright-link {
 text-decoration: none;
  color: #999999;
}
@media (min-width: 1200px) {
  .header-burger {
    display: none;
  }
  .main {
    margin-right: 110px;
}
  .news-text {
    margin-left: 30px;
}
}
@media (min-width: 641px) and (max-width: 1200px) { 
  .header-menu {
    display: none;
}
.header-burger {
  position: relative;
  width:30px;
}
.trend-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.trend-unit {
width: calc(50% - 3px);
margin:0;
}
.trend-unit:nth-child(n+3) {
  margin-top: 5px;
}
.products-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0 35px 0 35px;
}
.main {
 margin-right:35px;
}
.main-page {
  padding: 0 35px 0 35px;
}
.aside {
  width:270px;
}
.news{
display:flex;
flex-direction: column;
border-bottom:  3px solid #eeeeee;
padding-bottom: 20px;
}
.news:last-child{
  border:none;
}
.news:not(:first-child) {
  margin-top:40px;
}
.news-text{
  margin-top: 17px;
}
.news-img {
  width: 100%;
}
.header {
  background-image:url(../images/banner-bg-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
  }
}
.news-name {
  margin-bottom: 40px;
}
  .footer {
    padding: 0 35px 0 35px;
  }
  .copyright {
    padding: 0 35px 0 35px;
   }
   .header-nav {
    padding: 0 35px 0 35px;
   }

@media (max-width:640px ) {
  .menu.js-menu {
    position: relative;
    width: 30px;
    top: -200px;
    left:30px;
  }
  .header-text {
    width:100%;
    padding-top:45px;
  }
  .header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:180px;
}
  .header-menu {
    display: none;
}
.main-page {
  display: flex;
  flex-direction: column;
}
.news {
  display:flex;
  flex-direction: column;
  border-bottom: 3px solid #eeeeee;
  padding-bottom: 20px;
}
.news-img{
  display: block;
  width:100%;
}
.trend-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.trend-unit {
  width: 100%;
  margin: 3px 0 3px 0;
}
.products-items {
  display:flex;
  flex-direction: column;
}
.product-unit {
  width:100%;
}
.header {
  background-image: url(../images/banner-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
.aside {
  margin-top: 45px;
  max-width: 100%;
}
}